{% extends "base.html" %}

{% block contents %}
        <h1>홈에서 최근 글 목록 보기</h1>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">이름</th>
                    <th scope="col">제목</th>
                    <th scope="col">작성날짜</th>
                  </tr>
                </thead>
                <tbody>
                {% for article in latest_article_list %}
                  <tr>
                    <td><a href="/view_detail/{{ article.id }}">{{article.title}} </a></td>
                    <td>{{article.name}}</td>
                    <td>{{article.cdate|date:"Y년 m d일 D"}}</td>
                  </tr>
                {% endfor %}
                 
                </tbody>
              </table>
            
        </div>
        <div class="col">
            <img src="static/images/jeju.JPG" alt="제주바다" width="500" height="500"
    </div>
    

{% endblock contents %}


  
